body {
  margin: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#start-btn {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 10px; 
}

#replay-btn {
  background-color: rgb(255, 30, 1);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 100px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#game-box {
  background-color: darkgray;
  width:900px;
  height:500px;
  

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: hidden; 
  user-select: none;

  background-image: url("../Assets/images/Background/RainVilageBkgd.png");
  background-size: contain;

}

#game-box * {
  pointer-events: none; 
}


#game-over-screen {
  position: relative; 
  overflow: hidden; 
  user-select: none; 
  background-image: url("../Assets/images/gameover/gameover.jpg");
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;
}

#start-screen {
  position: relative; 
  overflow: hidden; 
  user-select: none; 
  background-image: url("..//Assets/images/startscreen/startscreen.png");
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;
}






#game-screen, #game-over-screen {
  display: none;
  
}

#start-screen, #game-screen,#game-over-screen {
  width: 900px;
  height: 500px;
}
